<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 shadow">
      <h1 class="text-center">New Campground</h1>
      <form
        action="/campgrounds"
        method="post"
        class="validated-form"
        enctype="multipart/form-data"
        novalidate
      >
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-control"
            type="text"
            name="campground[title]"
            id="title"
            placeholder="Name of your place"
            required
          />
          <div class="valid-feedback">Look`s nice!</div>
          <div class="invalid-feedback">Please write your title!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input
            class="form-control"
            type="text"
            name="campground[location]"
            id="location"
            placeholder="ex. Bucha, Kyiv Oblast"
            required
          />
          <div class="valid-feedback">Location checked!</div>
          <div class="invalid-feedback">Please provide location!</div>
        </div>
        <div class="mb-3 col-4">
          <label class="form-label" for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input
              type="number"
              name="campground[price]"
              class="form-control"
              placeholder="0"
              aria-describedby="price-label"
              id="price"
              required
            />
            <div class="valid-feedback">Very good!</div>
            <div class="invalid-feedback">Price is very important!</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description"
            >Description of place</label
          >
          <textarea
            class="form-control"
            type="text"
            name="campground[description]"
            id="description"
            placeholder="What I can see there?"
            required
          ></textarea>
          <div class="valid-feedback">Good.</div>
          <div class="invalid-feedback">
            Please provide a description to your place!
          </div>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Add images</label>
          <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            name="image"
            multiple
          />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-outline-primary">
            Add Campground
          </button>
        </div>
      </form>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/campgrounds" class="btn btn-outline-danger my-3"
          >Cancel, back to the list</a
        >
      </div>
    </div>
  </div>
</div>
